[tool.black]
line-length = 100
exclude = '''
/(
      \.eggs
    | \.git
    | \.mypy_cache
    | \.tox
    | \.venv
    | \.pytype
    | _build
    | buck-out
    | build
    | dist
)/
| docs/conf.py
| test/dataset.py
'''

[tool.isort]
dont_skip = "*/**/__init__.py"
known_third_party = [
    'pytest',
    'readmemaker',
    'responses',
    'sphinx_rtd_theme',
    'xlsxwriter',
]
include_trailing_comma = true
line_length = 100
lines_after_imports = 2
multi_line_output = 3
skip_glob = [
    '*/.eggs/*',
    '*/.pytype/*',
    '*/.tox/*',
]
