appconfigpy>=0.0.8
click>=7.0
colorama>=0.4.0
enum34;python_version<"3.4"
logbook
msgfy>=0.0.4
nbformat>=4.4.0
path.py
pathvalidate>=0.22.0
pytablereader[excel,sqlite]>=0.22.3
simplejson>=3.16.0
SimpleSQLite>=0.33.3
typepy>=0.3.0
