appconfigpy>=1.0.1,<3
click>=6.2,<9
envinfopy>=0.0.7,<1
loguru>=0.4.1,<1
msgfy>=0.1.0,<1
nbformat>=4.4.0,<6
path>=13,<17
pathvalidate>=2.5.2,<4
pytablereader[excel,md,sqlite,url]>=0.31.3,<2
retryrequests>=0.0.2,<1
SimpleSQLite>=1.3.2,<2
tcolorpy>=0.0.5,<1
typepy>=1.2.0,<2
